* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #000;
  }
  
  h2 {
    color: #fff;
    text-shadow: 0 0 10px #fff;
    position: relative;
    z-index: 2;
  }
  
  #conteudo {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
  }
  
  .btn_false {
    position: fixed;
    margin-left: 20px;
    margin-top: 10px;
    height: 42px;
    width: 70px;
    background-color: white;
    border: solid 3px #7e0a7e;
    border-radius: 8px;
    color: #aa0101;
    font-weight: bold;
    box-shadow: 0 0 40px #7e0a7e;
    position: relative;
    z-index: 1; 
    
  }

  .btn_true {
    position: fixed;
    margin-top: 10px;
    height: 42px;
    width: 70px;
    background-color: white;
    border: solid 3px #7e0a7e;
    border-radius: 8px;
    color: #10c200;
    font-weight: bold;
    box-shadow: 0 0 40px #7e0a7e;
    position: relative;
    z-index: 1; 
    
  }